body{
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
}

h1{
    font-size: 2rem;
}

h2{
    background-color: chartreuse;
    padding: 1rem;
}

h3{
    background-color: darksalmon;
    padding: 1rem;
}

button{
    width: 10.5rem;
    height: 2.5rem;
    border-radius: 15px;
    -webkit-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.75);
    margin: 1rem;
    background-color: aquamarine;
    font-family: 'Press Start 2P', cursive;
}

.notVisible{
    display: none;
}

.Visible{
    display: block;
}

.container{
    margin: 10vh auto;
    max-width: 80%;
    background-color: white;
    padding: 5em;
    border-radius: 10px;
}

#card, form{
    max-width: 70%;
    background-color: blueviolet;
    opacity: .8;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1em;
}

form {
    background-color: blueviolet;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: .5em;
}
textarea{
    max-width: 90%;
}

#addQuestion{
    display: block;
    margin: 1em auto;
}

footer{
    font-size: .7em;
}

